@font-face {
  font-family: 'Georgia';
  src: url('../fonts/Georgia.ttf');
}

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, font, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td {
	margin: 0;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: transparent;
}

h1, h2, h3, h4 {
  font-family: "Georgia", sans-serif;
}

p, span, li, input::placeholder, input[type="text"] {
  font-family: "Arial", sans-serif;
}

li {
  list-style-type: none;
}

a {
  color: #fff;
}

a:hover {
  color: #fff;
  text-decoration: underline;
}

body {
  background-color: #CFCFCF;
  color: #fff;
}

/*** FONT SIZE ***/
h1 {
  font-size: 30px;
}

h2 {
  font-size: 20px;
  padding-bottom: 20px;
}

p {
  font-size: 16px;
  padding-bottom: 20px;
}

/*** Font Color ***/
.light {
  color: #fff;
}

.dark {
  color: #253942;
}
.dark a {
  color: #253942;
}

.modal-link:hover {
  color: #253942;
}

.black {
  color: #000;
}

.underline {
  text-decoration: underline;
}

.top-space {
  margin-top: 90px;
}

/*** Margin and Paddong reset ***/
.padoff {
  padding: 0
}

.maroff {
  margin: 0;
}

.marhead {
  margin-top: 60px;
}

/*** Align ***/
.flex-center {
  display: flex;
  align-items: center;
}

/*** BUTTONS ***/
.btn-bord {
  display: block;
  width: max-content;
  height: 25px;
  line-height: 25px;
  padding: 0 6px;
  border: 1px #fff solid;
  background-color: transparent;
  color: #fff;
  font-size: 12px;
  text-transform: uppercase;
  vertical-align: bottom;
  margin-right: 12px;
}

.btn-tag {
  border: 1px #80A949 solid;
  color: #80A949;
}

.video .btn-tag {
  border: 1px #27BBEF solid;
  color: #27BBEF;
}

.btn-line {
  display: flex;
}

#btn-send-comment {
  background: #003742;
  color: #fff;
  border: none;
  line-height: 40px;
  padding: 0 16px;
  font-size: 14px;
  position: relative;
  bottom: 45px;
  left: 646px;
}

/*** OVERLAY ***/
.tranding-overlay h2, .tranding-overlay-down h2, .thumbnail-overlay h2 {
  padding-bottom: 40px;
  font-size: 30px;
}

.overlay-active:after {
  content: "";
  display: block;
  position: fixed; /* could also be absolute */
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 10;
  background-color: rgba(0,0,0,0.2);
}

.overlay-dark {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,0.5);
  z-index: 10;
  cursor: pointer;
}

/*Navigation*/
.navbar {
  margin-bottom: 30px;
  border-radius: 0;
  position: absolute;
  z-index: 3;
  display: block;
  height: 60px;
  width: 100%;
  top: 0;
}

.navbar, .search-input {
  background-color: #253942;
}

.navbar, .desc {
  color: #ffffff;
  border: none;
}

.logo {
  font-size: 25px;
  margin-bottom: 0;
  padding-top: 0px;
}

.desc {
  font-size: 9px;
}

.desc:hover {
  text-decoration: none;
}

.navbar .home-icon {
  height: 12px;
  margin: 23px 20px 0 40px;
}

.navbar-header {
  min-height: 30px;
  display: inline-flex;
}

.title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: "Georgia", sans-serif;
  height: 60px;
}

.navbar-brand {
  padding-bottom: 0;
  line-height: 30px;
  height: auto;
}

.navbar li {
  text-transform: uppercase;
  font-family: "Arial";
  font-size: 12px;
  min-height: 60px;
  position: inherit;
}

.parent-nav > ul >li {
  border-left: #365A66 1px solid;
  font-size: 14px;
  font-weight: bold;
  letter-spacing: 0.2px;
}

.navbar .dropdown-content li{
  min-height: 40px;
}

.parent-nav > ul >li:last-child {
  border-right: #365A66 1px solid;
}

.navbar-nav>li>a {
  padding: 15px 20px 12px;
  line-height: 30px;
}

.navbar-nav>li>a:hover {
  border-bottom: 3px #80A949 solid;
}

.dropdown-content {
  display: none;
  height: 250px;
  background: #80A949;
  width: 100%;
  position: absolute;
  top: 60px;
  left: 0;
}

.navbar-nav>li:hover .dropdown-content {
  display: flex;
  align-items: center;
}

.navbar-inverse .navbar-nav>li>a, .navbar-inverse .navbar-brand {
  color: #fff;
}

.navbar-form {
  margin-top: 12px;
}

.navbar-right {
  margin-right: -26px;
}

.navbar-form input {
  border: #365A66 1px solid;
}

.navbar-form input[type="text"] {
  color: #fff;
}

.navbar-form input::-webkit-input-placeholder {
  color: #fff;
}
.navbar-form input:-ms-input-placeholder {
  color: #fff;
}
.navbar-form input::-moz-placeholder {
  color: #fff;
}
.navbar-form input:-moz-placeholder {
  color: #fff;
}

.navbar-form .form-control {
  width: 150px;
}

.search-bar-form {
  padding: 0 5%;
}

#search-bar {
  position: absolute;
  background-color: #fff;
  top: -500px;
  height: 200px;
  z-index: 3;
  padding: 66px;
  width: 100%;
}

#overlay-search {
  display: none;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(113, 110, 110, 0.49);
  z-index: 2;
  cursor: pointer;
}

#search-bar-input {
  border: none;
  border-bottom: 1px #000 solid;
  font-size: 40px;
  color: #8C9EA3;
  width: 100%;
}

#search-bar-input:focus {
  outline: none;
}

#search-bar-input::placeholder {
  color: #8C9EA3
}

.glyphicon-search {
  -webkit-transform: rotate(90deg);
  -moz-transform: rotate(90deg);
  -o-transform: rotate(90deg);
  -ms-transform: rotate(90deg);
  transform: rotate(90deg);
}

.inner-addon {
  position: relative;
}

.inner-addon .glyphicon {
  position: absolute;
  padding: 13px 18px 12px 10px;
  font-size: 90%;
  pointer-events: none;
}

.left-addon .glyphicon  { left:  0px;}
.right-addon .glyphicon { right: 0px;}
.left-addon input  { padding-left:  35px; }
.right-addon input { padding-right: 30px; }


/***** Main Page *****/
.main-page {
  color: #253942;
  font-size: 30px;
}

.marbot {
  margin-bottom: 30px;
}

section h1:first-child {
  margin-bottom: 30px;
}

/*Tranding news*/
.tranding-news .first, .tranding-news .second {
  padding-left: 0;
  padding-right: 10px;
}

.off-1 {
  font-weight: bold;
  width: 15%;
  font-size: 16px;
  background-color: #27BBEF;
  height: 50px;
  padding-left: 27px;
}
.off-2 {
  background-color: #A4ABAE;
  width: 85%;
  padding-right: 30px;
  font-size: 16px;
}

.off-1, .off-2 {
  display: flex;
  align-items: center;
  height: 50px
}

.valign {
  color: #fff;
  margin-left: 0;
  margin-right: 0;
  display: flex;
}

.arrow-left {
  background: url("../img/home/arrow-left.svg");
}

.arrow-right {
  background: url("../img/home/arrow-right.svg");
}

.arrow-left, .arrow-right {
  height: 25px;
  width: 25px;
  border: none;
}

.tranding-slider a {
  padding-left: 10px;
}

.text-right {
  padding: 0;
}

.tranding-news .head {
  margin-bottom: 30px;
}

.tranding-news .posts {
 margin-right: 15px;
}

.tranding-overlay, .tranding-overlay-down {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(33, 58, 68, 0.4);
  transition: opacity .4s ease-in-out;
}

.tranding-overlay {
  height: 100%;
  padding: 108px 20px 108px 30px;
}

.tranding-overlay-down {
  height: 414px;
  padding: 272px 20px 108px 30px;
  background: linear-gradient(to top, rgba(33, 58, 68, 0.4), rgba(0, 0, 0, 0));
  margin-top: 100px;
}

.tranding-news .posts .last {
  height: 516px;
  background-repeat: no-repeat;
  background: url("../img/home/tranding-img3.png")
}

.tranding-news .posts .first {
  padding-right: 0;
  margin-bottom: 14px;
  background: url("../img/home/tranding-img1.png")
}

.tranding-news .posts .second {
  background: url("../img/home/tranding-img2.png");
}

.tranding-news .posts .first, .tranding-news .posts .second {
    height: 250px;
    background-size: cover;
}

.two-grid {
  padding-right: 30px;
}

/*Latest story section*/
.card {
  /*box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);*/
  padding-left: 0;
  padding-right: 0;
  transition: 0.3s;
  background-color: #fff;
  margin-bottom: 20px
}

.card:hover {
  /*box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);*/
}

.card-img {
  overflow: hidden;
  width: 358px;
  height: 193px;
}

.card-img img {
  width: 100%;
  height: auto;
}

.card p {
  padding-bottom: 0;
}

.card-container a {
  color: #253942;
}

.card-container h2 {
  line-height: 19.2px;
  font-weight: bold;
}

.overlay-file {
  background: rgba(33, 58, 68, 0.4);
  background-image: url("../img/home/file.png"), url("../img/home/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .4s ease-in-out;
}

.overlay-media {
  background: rgba(33, 58, 68, 0.4);
  background-image: url("../img/home/play.png"), url("../img/home/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .4s ease-in-out;
}

.overlay-file, .overlay-media {
  width: 358px;
  height: 194px;
  position: absolute;
  top: 0;
  left: 15px;
}

.card {
  width: 358px;
}

.card-container {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 10px 16px 22px;
  min-height: 116px;
}

.card-container h4 {
  font-size: 20px;
}

.card-container p {
  font-size: 14px;
}

/* Branding News */
.latest-story .row, .branding-news .row {
  margin-right: -10px;
}

/* Social Slider*/
.social {
  background-color: #88A6A8;
  height: 300px;
  color: #fff;
}

.twitter {
  width: 52px;
  height: 52px;
  display: block;
  background-color: #2A8B90;
  background-image: url("../img/home/twitter-bird.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 34px 27px;
}

.slider-inner h1 {
  margin-bottom: 4px;
}

.slider-inner a {
  color: #fff;
  text-decoration: underline;
}

.slider-inner a, footer li {
  font-size: 14px;
}

.slider-inner  {
  padding-top: 40px;
  padding-bottom: 20px;
}

.slick-dots li button:before {
  font-size: 25px;
  color: #fff;
  border-radius: 50%;
  content: "○";
}

.slick-dots li.slick-active button:before {
  font-size: 25px;
  color: #fff;
  content: "●";
}

/* Footer */

footer {
  height: 250px;
  background-color: #253942;
  padding-top: 50px;
}

footer h3 {
  margin-bottom: 20px;
  font-size: 20px;
}

footer li {
  padding-bottom: 5px;
}

.logo-footer {
  right: 0;
  padding-top: 80px;
}

.logo-footer span {
  font-size: 12px;
  color: #8C9EA3;
}


/***** Signle Post Page *****/

/* Thumbnail Image */
.post-thumbnail {
  overflow: hidden;
  height: 520px;
  width: 1140px;
}

.post-thumbnail img {
  width: 100%;
  height: auto;
}

.thumbnail-overlay {
  position: absolute;
  display: block;
  transition: opacity .4s ease-in-out;
  height: 320px;
  width: 1140px;
  background: linear-gradient(to top, rgba(0, 56, 66, 1), rgba(0, 56, 66, 0));
  margin-top: 200px;
  padding: 166px 580px 10px 25px;
}

.thumbnail-overlay h2 {
  font-weight: bold;
}

.video-overlay {
  display: none;
}

.video .video-overlay {
  width: 100px;
  height: 100px;
  display: block;
  position: absolute;
  background: url("../img/home/play.png"), url("../img/home/circle.png");
  background-repeat: no-repeat;
  background-position: center;
  transition: opacity .4s ease-in-out;
  top: 185px;
  right: 20px;
  font-size: 10px;
  line-height: 210px;
  text-align: center;
}

.main-content, .sidebar  {
  color: #253942;
}

.sidebar {
  background: #fff;
  padding: 20px;
}

.sidebar-content  {

}

.post-content {
  background: #fff;
  padding: 25px;
}

.main-content {
  width: 72%;
  margin-right: 1%;
}

.sidebar {
  width: 27%;
}

.post-content h1 {
  font-size: 20px;
  font-weight: bold;
}

.post-content p {
  font-size: 16px;
}

.post-content h1, .post-content p {
  padding-bottom: 30px;
  line-height: 30px;
}

.sidebar h1 {
  font-size: 20px;
}

.sidebar p {
  font-size: 16px;
  font-family: "Georgia";
  padding-bottom: 30px;
}



.popular {
  overflow: hidden;
  height: 132px;
  width: 264px;
  margin-bottom: 5px;
}

.popular-img {
  width: 100%;
  height: auto;
}

.popular-rate {
  position: absolute;
  height: 40px;
  width: 40px;
  display: flex;
  align-items: center;
  background: #253942;
  color: #fff;
  padding: 0 14px;
}

.social-media {
  display: flex;
}

.social-media a {
  width: 38px;
  height: 38px;
  display: block;
  background-repeat: no-repeat;
  background-position: center;
}

.social-linkedin {
  background-color: #1078A7;
  background-image: url("../img/article/linkedin.png");
  background-size: 19.2px 19.2px;
}

.social-twitter {
  background-color: #1DA2E0;
  background-image: url("../img/article/twitter.png");
  background-size: 18px 14.7px;
}

.social-printerest {
  background-color: #BD222E;
  background-image: url("../img/article/pinterest.png");
  background-size: 19px 19px;
}

.social-google {
  background-color: #D04D3F;
  background-image: url("../img/article/google.png");
  background-size: 17.5px 19px;
}

.social-email {
  background-color: #CFCFCF;
  background-image: url("../img/article/email.png");
  background-size: 19.2px 12px;
}

.author {
  background: #7BA8AA;
  color: #fff;
  height: 184px;
  margin-bottom: 30px;
}

.author img {
  width: 100%;
  height: auto;
}

.author-img {
  top: 16px;
  overflow: hidden;
  height: 168px;
  width: 182px;
}

.author-desc {
  margin-top: 25px;
}

.author-desc a {
  text-decoration: underline;
}

.comment-title {
  right: 0;
}

.comment-field {
  height: 186px;
  background-color: #fff;
  padding: 26px 24px 20px;
}

.comment-field textarea {
  padding: 0;
  border-color: #d3d3d3;
}

.comment-field, .comments {
  margin-bottom: 15px;
}

.comments {
  background: #fff;
}

.single-comment {
  border-bottom: #e3e3e3 1px solid;
  padding: 24px 24px 18px;
}

.comment-body {
  margin-bottom: 10px;
}

.comment-author {
  font-weight: bold;
  padding-bottom: 0;
}

.more-comments {
  margin-bottom: 90px;
  height: 40px;
  display: flex;
  align-items: center;
  background: #74858A;
  width: 100%;
}

.load-comments {
  margin: 0 auto;
  background-image: url("../img/article/load-comments.png");
  background-repeat: no-repeat;
  background-position: left;
  padding-left: 20px;
}

.related-story-container {
  margin-top: 70px;
  background-color: #aab5b1;
  height: 340px;
  color: #fff;
}

.related-story-list {
  margin-top: -50px;
}


/***** Listing Page *****/

.list-page {
  margin-top: 60px;
  margin-bottom: 300px;
}

.top-image {
  height: 250px;
  background-image: url("../img/article/thumbnail.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.top-image h1 {
  margin-top: 70px;
  font-size: 40px;
}

.top-image a {
  margin-top: 150px;
  float: right;
  height: 40px;
  padding: 0 20px;
  line-height: 40px;
  text-transform: none;
  font-size: 14px;
}

.top-image-text {
  float: left;
  width: 700px;
}

.top-image-text p {
  font-size: 20px;
  line-height: 24px;
}

.top-image-overlay {
  position: absolute;
  display: block;
  transition: opacity .4s ease-in-out;
  height: 250px;
  width: 100%;
  background: linear-gradient(to top, rgba(33, 58, 68, 0.69), rgba(0, 0, 0, 0));
}

.on {
  position: relative;
  display: block;
  background-color: rgba(0,0,0,0.5);
  z-index: 12;
  cursor: pointer;
  padding: 0;
  width: 1140px;
  height: 520px;
  margin-bottom: 35px;
}

.on .thumbnail-overlay {
  display: none;
}

.pagination {
  display: inline-flex;
}

.pagination-page {
  margin-right: 6px;
  height: 40px;
  width: 50px;
  display: flex;
  align-items: center;
  background: #74858A;
  text-align: center;
  color: #fff;
  padding: 0 20px;
  font-size: 20px;
}

.active-page {
  background: #253942;
}


/***** About Us Page *****/
.page-title {
  background: #7BA8AA;
  height: 250px;
  display: flex;
  align-items: center;
}

.page-title h1 {
  font-size: 50px;
  font-weight: bold;
}
.page-title p {
  width: 700px;
}

.page-content {
  background: #fff;
  padding: 25px;
  margin-bottom: 170px;
}

.page-content h1 {
  font-size: 20px;
  font-weight: bold;
}

.page-content p {
  font-size: 16px;
}

.page-content h1, .page-content p {
  padding-bottom: 30px;
  line-height: 30px;
}

.sidebar-menu li {
  margin-bottom: 10px;
  font-size: 16px;
}

.sidebar-menu .active {
  color: #27B9ED;
}

/***** Team Page *****/
.team-background {
  overflow: hidden;
  width: 235px;
  height: 200px;
  background: url("../img/team/team-none.png"), #7ba8aa;
  background-repeat: no-repeat;
  background-position: center bottom;
}

.team-background img{
  width: 100%;
  height: auto;
}

.team-name {
  margin-top: 10px;
  padding-bottom: 10px;
  font-weight: bold;
  font-family: "Arial", sans-serif;
}



/*** MODAL ***/
#subscribe .modal-content {
  border-radius: 0;
}

#subscribe .modal-dialog {
  width: 350px;
  margin: 200px auto;
}

#subscribe .modal-header {
  width: 348px;
  height: 182px;
}

#subscribe .modal-header {
  background: url("../img/modal-background.png");
  background-repeat: no-repeat;
  background-position: 0px -40px;;
  background-size: cover;
  border-bottom: none;
}

#subscribe .close {
  margin-top: -8px;
  color: #fff;
  text-shadow: none;
  opacity: 1;
  font-weight: 300;
}

#subscribe .modal-body {
  background: #253942;
  text-align: center;
}

#subscribe .modal-body p {
  text-align: center;
  width: 250px;
  margin: 0 auto;
  font-size: 14px;
}

#subscribe .modal-body input {
  padding: 10px;
}

#subscribe .modal-body input[type="text"], #subscribe .modal-body input{
  color: #213A44;
  font-size: 16px;
}

#subscribe .modal-body input, #btn-subscribe {
  width: 300px;
  margin: 0 10px 20px 10px;
}

#btn-subscribe {
  background: #80A949;
  height: 40px;
  border: none;
}

#policy {
  text-decoration: underline;
  color: #fff;
  font-size: 14px;
  opacity: 0.5;
}

#policy-modal {
  color: #253942;
}
